$flex-prefix: u-flex;
$flex-directions: (row, column);

@each $direction in $flex-directions {
    .#{$flex-prefix}-#{$direction} {
        display: flex !important;
        flex-direction: #{$direction} !important;

        & .u--grow {
            flex-grow: 1 !important;
        }
    }

    .#{$flex-prefix}-#{$direction}.u--center {
        align-items: center !important;
        justify-content: center !important;
    }

    .#{$flex-prefix}-#{$direction}.u--center-main {
        justify-content: center !important;
    }

    .#{$flex-prefix}-#{$direction}.u--center-cross {
        align-items: center !important;
    }
}
