.app {
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: $color-grey-95;
    font-family: 'Roboto', sans-serif;
    padding: map-get($spacing__map, md);
}

.app-header {
    padding: map-get($spacing__map, xs);
}

.app-header .app-header__title {
    color: #fff;
}
